<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">  
  <appSettings>
    <add key="ImisWebServerURL" value="http://MASHTUN/IMIS20" xdt:Transform="Insert"/>
  </appSettings>
  <connectionStrings>
    <add name="EFDbContext" providerName="System.Data.SqlClient" connectionString="Data Source=fermenter;Initial Catalog=IMIS20;Integrated Security=False;User Id=sa;Password=3edc$RFV;MultipleActiveResultSets=True" xdt:Transform="Insert" />
  </connectionStrings>
  <iMIS>
    <Soa>
      <settings>
        <setting key="EntityManagerDefaultBaseUri" value="net.tcp://MASHTUN:808/Asi.Scheduler_IMIS20/Soa/NetTcp" xdt:Transform="Insert" />        
        <!--iMIS 20.1-->
        <!--<setting key="EntityManagerDefaultBaseUri" value="net.tcp://MASHTUN:808/IMIS20/NetTcp" xdt:Transform="Insert" />-->
      </settings>
    </Soa>
  </iMIS>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
