h1, h2, h3, h4, h5, h6 {
    /*color: #036b8e;*/  
}

@media screen and (max-width: 768px) {
    h1 { font-size: 16px; }
    h2 { font-size: 15px; }
    h3 { font-size: 14px; }
    h4 { font-size: 13px; }
    h5 { font-size: 12px; }
    h6 { font-size: 11px; }
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

.ba-hidden { 
    display: none; 
}

.center-block {
    min-width: 100px;
    max-width: 400px;
    margin: 0 auto;
}

.header-title {
    color: #ddd;
    text-align: center;
}

.error-text {
    color: #f00;
}

.validation-summary-errors > ul > li {
    color: #f00;
}

.row {
    padding: 5px 0 5px 0;
}

#main-content {
	position: relative;
	background: #F6F5F4;
	display: block;
	position: relative;
	padding: 2rem;
}

.ats-result {
    color: #f00;
}

.control-label {
    text-align: left;
    float: left;
    white-space: nowrap;
}

.pad-left {
    padding-left: 15px;
}

.control-label-bold-only {
    font-weight: bold;
}

.clear {
    clear: both;
}

.form-control {
    min-width: 25%;
    max-width: 92%; 
    margin-left: 15px;
}

footer {
    font-size: 10px;
}

/*BEW FIX THIS*/
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}