@{
    ViewBag.Title = "Error";
}
<div class="row">
    <div class="col-md-12">
        <p class="error-text">@TempData["ErrorMsg"]</p>
        <h5>Please contact Brewers Association at 303-447-0816 for assistance.</h5>
        <p>Or&nbsp;<a href="javascript:void(0);" id="backLink">try again</a></p>
    </div>
</div>