@{
    ViewBag.Title = "Not Authorized";
}
<div class="row">
    <div class="col-md-12">
        <h2>You are not authorized to view this page.</h2>
    </div>
</div>
@if (ViewData["NotAuthorizedReason"] != null) {
    <p>Reason: @ViewData["NotAuthorizedReason"].ToString()</p>
}

